.provider-card{
    border-radius: 5px;
    width: 14rem;
    height: 20rem;
    overflow: hidden;
    position: relative;
    .provider-dp-bg{
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
         opacity: 1;
    }
    .content{
        width: 100%;
        height: 100%;
        position: relative;
        .details{
            position:absolute;
            bottom: 0;
            right: 0;
            width: 100%;
            border-radius: 15px  15px 0px 0px;
            padding: 0.3rem;
            padding-top: 0.4rem;
            background: linear-gradient(120deg, rgb(255, 7, 81) 0%, rgb(88, 18, 218) 100%);
            .name{
                margin-bottom: 0;
                margin-top: 0;
            }
        }
        .price-tag{
            position: absolute;
            top: 1%;
            left:0;
            width: fit-content;
            border-radius:   0px 35px 35px 0px;
            background-color: #dbe3ff;
            padding: 0.4rem;
            padding-left: 0.3rem;
            p{
                font-weight: 600;
                color: #425ab9;
                margin: 0;
            }
        }
        .distance{
            position: absolute;
            bottom: 20%;
            right:0;
            border-radius:  35px 0px 0px 35px ;
            background-color: #dbe3ff;
            padding: 0.4rem;
            padding-left: 0.6rem;
            p{
                font-weight: 600;
                color: #425ab9;
                margin: 0;
                margin-top: 3px ;
            }
        }
         
        
    }
    .booking{
        z-index: 5;
        transition: all 0.6s;
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(120deg, rgb(13, 16, 170) 0%, rgba(65, 37, 97, 0.897) 100%);  
        padding: 1rem;
        .on-bbok{
            button{
                position: absolute;
                bottom:5%;
                right: 10%;
            }
        }
         
        transform: translateX(100% );
    }
    &:hover{
         .booking{
            transform: translateX(0);
         }
          
    }
}
 
.h7{
    font-size: 14px;
    font-weight: 300;
}
svg path,svg rect{
    fill: #425ab9;
  }

  .content-header{
    display: flex;
    p{
      font-size: 150%;
      color: #6e8bff;
      font-weight: 500;
      font-family: 'Poppins', sans-serif;;
    }
    .mat-icon{
      margin-top: 6px;
      font-size: 150%;
    }
  }