<p-sidebar (onHide)="onHide()"  [(visible)]="visible" [fullScreen]="true" [baseZIndex]="10000">
   <div class="container-fluid d-flex justify-content-center scroll-block">
    <div class="row container">
        <div class="col-sm-4">
            <app-select-microservice [catagories]="BookingState.resource.microservices" (sendProductCode)="byGettingProductCode($event)"></app-select-microservice>
        </div>
        <div class="col-sm-4">
            <app-select-provider [providers]="provider" (sendProviderEvent)="getProviderDetails($event)"></app-select-provider>
        </div>
        <div class="col-sm-4">
            <app-checkout *ngIf="full" [bill]="billDetails"></app-checkout>
        </div>
    </div>
    <p-button *ngIf="full" class="btn" label="Confirm" (click)="confirmOrder()"></p-button>
   </div>
</p-sidebar>
  