.header {
    position:relative;
    padding-top: 0vh;
    padding-bottom: 10vh;
    background: linear-gradient(60deg, rgb(181, 183, 58) 0%, rgb(193, 55, 0) 100%);
    .inner-header {
        min-height:80vh;
        width:100%;
        margin: 0;
        padding: 0;
        .logo {
          background-color: rgb(252, 252, 252);
          padding: 0.1rem;
          border-radius: 5px;
          img{
              width: 16rem;
          }
        }
        .hero-img{
          animation: MoveUpDown 3s linear infinite;
        }
         
      }
      .order{
        padding: 1rem;
      }
    
      .item{
        background-color: #a3c8ff;
        height: auto;
        padding: 0.6rem;
        border-radius: 8px;
      }
      .proceed-card{
          width: 100%;
          min-height: 50vh;
          padding: 6%;
          position: relative;
          background-color: #dbe3ff;
          color: #425ab9;
          td, th {
            border: 1px solid #425ab9;
            text-align: left;
            padding: 8px;
          }
          hr {
            border:none;
            border-top:1px dashed #425ab9;
            color:#fff;
            background-color:#fff;
            height:1px;
            width:100%;
          }
      }
      
      .item-card{
          width: 100%;
          border-radius: 5px;
          padding: 2%;
          height: max-content;
          min-height: 16vh;
         // background: linear-gradient(60deg, rgb(177, 233, 255) 0%,   rgb(129, 173, 255) 100%);
          margin-top: 0.3rem;
          position: relative;
          .status{
            position: absolute;
            top: 45%;
            right:10%;
            background-color: #dbe3ff;
            padding: 0.1rem;
            border-radius: 5px;
          }
          .pro{
              position: relative;
              border: 2px solid rgb(0, 49, 68);
              margin-left: 2%;
              overflow: hidden;
              width: 7rem;
              height: 7rem;
              background-position: center;
              background-size: contain;
              background-repeat: no-repeat;
             
          }
          .pro-details{
              display: flex;
              flex-direction: column;
               margin-left: 1rem ;
               span{
                   font-weight: 400;
               }
          }
          .removeicon{
              position: absolute;
              top:2%;
              right: 2%;
          }
           
      }
  }
   
  // // ["requested", "accepted", "reject", "inspection", "inprogress", "completed"]
  .s-color{
    text-transform: uppercase;
  }
  .requested{
    background : linear-gradient(60deg, rgb(16, 19, 194) 0%,   rgb(78, 133, 235) 100%);
    .s-color{
      color: rgb(78, 133, 235) !important;
    }
  }
  .accepted{
    background : linear-gradient(60deg, rgba(0, 153, 38, 0.918) 0%,   rgb(9, 219, 167) 100%);
    .s-color{
      color: rgb(9, 219, 167) !important;
    }
  }
  .reject{
    background : linear-gradient(60deg, rgba(168, 0, 65, 0.918) 0%,   rgba(255, 154, 129, 0.856) 100%);
    .s-color{
      color: rgba(255, 154, 129, 0.856) !important;
    }
  }
  .inspection{
    background : linear-gradient(60deg, rgba(173, 133, 0, 0.993) 0%,   rgba(253, 213, 104, 0.856) 100%);
    .s-color{
      color: (253, 213, 104, 0.856) !important;
    }
  }
  .inprogress{
    background : linear-gradient(60deg, rgba(98, 8, 182, 0.918) 0%,   rgb(9, 160, 219) 100%);
    .s-color{
      color: rgb(9, 160, 219) !important;
    }
  }
  .completed{
    background : linear-gradient(60deg, rgba(4, 122, 34, 0.918) 0%,   rgb(5, 66, 156) 100%);
    .s-color{
      color: rgb(5, 66, 156) !important;
    }
  }