.header {
    position:relative;
    padding-top: 0vh;
    padding-bottom: 10vh;
    background: linear-gradient(60deg, rgb(181, 183, 58) 0%, rgb(193, 55, 0) 100%);
    .inner-header {
        min-height:80vh;
        width:100%;
        margin: 0;
        padding: 0;
        .logo {
          background-color: rgb(252, 252, 252);
          padding: 0.1rem;
          border-radius: 5px;
          img{
              width: 16rem;
          }
        }
        .hero-img{
          animation: MoveUpDown 3s linear infinite;
        }
         
      }
      .proceed-card{
          width: 100%;
          min-height: 50vh;
          padding: 6%;
          position: relative;
          background-color: #dbe3ff;
          color: #425ab9;
          td, th {
            border: 1px solid #425ab9;
            text-align: left;
            padding: 8px;
          }
          hr {
            border:none;
            border-top:1px dashed #425ab9;
            color:#fff;
            background-color:#fff;
            height:1px;
            width:100%;
          }
      }
      .order{
          position:relative;
          width: 100%;
          right: 0;
      }
      .item-card{
          width: 100%;
          border-radius: 5px;
          padding: 2%;
          height: max-content;
          min-height: 16vh;
          background: linear-gradient(60deg, rgb(177, 233, 255) 0%,   rgb(129, 173, 255) 100%);
          margin-top: 0.3rem;
          position: relative;
          .pro{
              position: relative;
              border: 2px solid rgb(177, 233, 255);
              margin-left: 2%;
              overflow: hidden;
              width: 7rem;
              height: 7rem;
              background-position: center;
              background-size: contain;
              background-repeat: no-repeat;
             
          }
          .pro-details{
              display: flex;
              flex-direction: column;
               margin-left: 1rem ;
               span{
                   font-weight: 400;
               }
          }
          .removeicon{
              position: absolute;
              top:2%;
              right: 2%;
          }
           
      }
  }
   