
<div class="header">
    <div class="inner-header">
        <div class="container landing"  >
            <div class="trademark"></div>
            <span data-aos="fade-right" class=" d-flex title display-6"> <p>Booked Services</p> </span> 
            <p-scrollPanel [style]="{width: '100%', height: '70vh' }" styleClass="custombar1">
               <div class="row">
                <div class="order col-sm-12 " *ngFor="let item of orderList">
                    <div class="item">
                        <p class="title-dark h5">Booking date: {{item.date | date: 'MMM d, y, h:mm a'}} <br>Total Price: {{item.amount | currency: 'INR'}}</p>
                        <div class="item-card d-flex " *ngFor="let book of item.bookings"
                        [ngClass]="{'requested': book.status == 'requested',
                        'accepted': book.status == 'accepted',
                        'reject': book.status == 'reject',
                        'inspection' : book.status == 'inspection',
                        'inprogress' : book.status == 'inprogress',
                        'completed': book.status == 'completed'
                           }"
                        >
                            <div class="pro-details my-auto" >
                                <span class="status "><p class="title-dark s-color">{{book.status}}</p> </span>
                                <span class="title h6">Provider: {{book.provider}}</span>
                                <span  class="title">Service : {{book.service}}<span class="h6 title">  </span> </span>
                                <span  class="title">No of service: {{book.quantity}} <span class="h6 title"> </span> </span>
                                <span  class="title">Initial charges: {{book.price | currency: 'INR' }} <span class="text-price-dark" style="font-weight: 400; color:#364ca1;">  </span> </span>
                            </div>
                            <!-- <span class="removeicon">
                                <button pButton pRipple  type="button" icon="pi pi-times" class="p-button-rounded p-button-danger p-button-text"></button>
                            </span> -->
                        </div>
                    </div>
            </div>
               </div>  
            </p-scrollPanel>
       </div>
      </div>
</div>