.field-checkbox{
    border-left: 1px solid rgba(235, 141, 0, 0.808);
    border-right:  1px solid rgba(235, 141, 0, 0.808);
    background-color: #F9C000;
    color : white;
    transition: all 0.5s;
     
}
.assign{
    color: white;
    font-weight: 500;
    font-family: 'Questrial', sans-serif;
    
}
.bg-offwhite{
    border-radius: 5px;
    padding: 1rem;
}
.exparts-card{
    width: 100%;
    border: 1px solid #F9C000 ;
    border-radius: 8px;
    margin: 1rem;
    img{
        width: 4rem;
        height: 4rem;
    }
    &:hover{
         cursor: pointer;
    }

}