
<div class="container-fluid background ">
  <div class="container landing  ">
    <div class="row p-2  ">
        <div class="col-sm-6 d-flex justify-content-start flex-column align-items-start">
            <p class="display-3 hodding text-start ">Your satisfaction is our first priority</p>
            <p class="text-white sub-title">Formed in 2021, MARAMMATWALA “Right 2 Repair” is a brand of Swadesi Indigene Technologies Private Limited. At Marammatwala, we are committed to being there for all your home service, repair and maintenance needs. We are custom service and solution provider</p>
            <div class="select-city align-items-center d-flex flex-row ">
              <div class="d-flex " >
                <button (click)="onModalChange(true)" pButton pRipple type="button" icon="pi pi-map-marker" class="p-button-rounded "></button> 
                <p class="hodding text-center h4 mx-3 mt-1">  {{ currentLocation.place }}</p>
              </div>
              </div>
          </div>
        <div class="col-sm-6 d-flex justify-content-center align-items-center" data-aos="zoom-in" data-aos-duration="1500">
          <img style="width:95%" src="../../../assets/images/XMLID_177_.svg" alt="" srcset="">
        </div>
      </div>
</div>
</div>
 
<div class="container-fluid"  >
    <div class=" container w-75 pt-4">
   
      <div class="container  bg-white pt-4"  >
            <div class=" container" >
                <p  data-aos="fade-right" class="h3 text-left "> <i class="pi pi-cog"></i> Services</p>
                <div class="row p-2 ">
                  <div *ngFor="let item of catagories; i "  data-aos="zoom-in" data-aos-duration="1222"  class="col-sm-3 mt-2 d-flex flex-column align-items-center justify-content-center">
                        <img style="width: 80%; max-width: 8rem;" class="rounded-circle" src="{{item.image_url}}" alt="" srcset="">
                        <p class="items text-center" (click)="onOpenMicroservice(item)">{{item.label}}</p>
                  </div>
                </div>
              </div>
            </div>
    </div>
 
    <div class="container w-75 my-4 ">
      <p-divider type="dashed"></p-divider>
        <div class="container    pt-2"  >
            <div class="container" >
                <p class="h3 text-left">Offers <i class="pi pi-tag"></i></p>
                <div class="row p-2 ">
                  <div *ngFor="let item of offers; i "  data-aos="zoom-in" data-aos-duration="1222"  class="col-sm-6 mt-2 d-flex flex-column p-2 bg-white align-items-center justify-content-center">
                    <p-image src="{{item.offer_image}}" alt="Image" width="95%" [preview]="true"></p-image>
                        
                     <img class="offerTag" src="{{item.offer_tag}}" alt="" srcset="">
                        <a class="offer_title">{{item.offer_title}}</a>
                        <p class="offer_description">{{item.offer_desc}}</p>
                  </div>
                </div>
                 
              </div>
            
            </div>
    </div>
    
    <div  *ngFor="let item of exclusiveTemp" class="container w-75 pt-2 pb-4 ">
      <p-divider type="dashed"></p-divider>
      <div class="container  bg-white pt-4"  >
            <div class="container" >
                <p  class="h3 text-center"> <i data-aos-duration="1500"  data-aos="fade-right" style="color:  darkorange" class="pi pi-chevron-right"></i> {{item.exclusive_set_name}} <i data-aos-duration="1500"   data-aos="fade-left" style="color:  darkorange" class="pi pi-chevron-left"></i></p>
                <div class="row p-2 ">
                  <div *ngFor="let s of item.service; i "  data-aos="zoom-in" data-aos-duration="1222"  class="col-sm-4 mt-2 d-flex flex-column align-items-center justify-content-center">
                    <p-image src="{{s. ex_img}}" alt="Image" width="95%" [preview]="true"></p-image>
                        <p class="exclusive_desp">{{s.info}}</p>
                  </div>
                </div>
                 
              </div>
            
            </div>
    </div>

</div>

 
<app-places [modalShow]="modalShow" (modalShowEvent)="onModalChange($event)"></app-places>
 