body{
    margin:0;
    padding: 0;
    
}
.background{
    background-image: url("../../../assets/images/homeBackground.jpg");
    background-position: top;
    background-attachment: local;
    background-size:cover;
    background-repeat: no-repeat;
    width: 100%;
    padding-top: 8rem;
    background-color: rgb(238, 238, 238);
     height: 90vh;
}
.container-fluid{
    background-color: rgb(238, 238, 238);
}
 
.container{
    border-radius: 5px;
}
.landing{
   
    margin-top: 4rem;
}
 
 .bg-white{
     background-color: #F9C000 ;
 }
.hodding{
    color: #ffffff;
    font-weight: 600;
    filter: drop-shadow(5px 5px 4px #30303094);
    font-family: 'Questrial', sans-serif;;
}
.sub-title{
    color: #ffffff;
    font-weight:400;
    filter: drop-shadow(5px 5px 4px #00000067);
    font-family: 'Questrial', sans-serif;;
}
.select-city{
   // background-color: rgba(53, 50, 36, 0.452);;
    border-radius: 6px;
    padding: 0rem 4rem 2rem 0rem;
    display: flex;
    flex-direction: column;
}
.services{
    background-color: rgb(190, 60, 0);
    height: 50rem
} 
.items{
    font-family: 'Questrial', sans-serif;
    color:rgb(36, 36, 36);
    font-size:100%;
    font-weight: 500;
    cursor: pointer;
     
}

.offer_title{
    color: rgb(53, 50, 36);
    font-size:150%;
    width: 95%;
    text-align: left;
    cursor: pointer;
    font-weight: 500;
    text-decoration: none;
    font-family: 'Questrial', sans-serif;;
    &:hover{
        text-decoration: underline;
    }
}
.offer_description{
    color: rgb(36, 36, 36);
    font-size:100%;
    width: 95%;
    text-align: left;
    font-family: 'Questrial', sans-serif;;
   
}
.offerTag{
    position:absolute;
    top: -1rem;
    right: 0rem;

}
.exclusive_desp{
    color: rgb(36, 36, 36);
    font-size:100%;
    width: 95%;
    text-align: center;
    font-family: 'Questrial', sans-serif;;
}

 