<div class="container-fluid main"  [ngClass]="scrolled? 'main': ''" >
    <div class="main-nav d-flex align-items-center justify-content-between" data-aos-duration="1000"  data-aos="fade-down">
        <div class="navbar-brand mx-4 d-flex align-items-end logo" href="#" >
            <img src="../../../assets/logo.svg" class=" " alt="" srcset="">
        </div>
        <div class="nav-search d-flex align-items-center justify-content-between ">
            <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input class="search" type="text" pInputText [(ngModel)]="value" placeholder="Search for service">         
            </span>
             <div [ngSwitch]="isLogin" class="mx-4 my-auto">
                 <div *ngSwitchCase="true" > <p-avatar  class="p-3 cursor-pointer"  image="../../../assets/images/user.jpg" pBadge value="4" shape="circle" severity="danger" size="large" [routerLink]="['profile']"></p-avatar> </div>
                 <div *ngSwitchCase="false"><p  (click)="onOpenLogin()" class="login-icon mt-3">Login / Signup</p></div>
             </div>
            
             
        </div>
    </div>
    <div class="sub-nav d-flex align-items-center justify-content-end" data-aos-duration="1000"  data-aos="fade-down">
          <app-service-options></app-service-options>
    </div>
</div>
 
