
<div class="d-flex justify-content-center align-item-center flex-column my-4">
    <p class="p-text-left mx-2">Create username and password</p>
    <span class="p-float-label">
        <input id="float-input" type="text" style="width: 15rem" [(ngModel)]="userSecrets.username" pInputText>  
        <label for="float-input">Username</label>
    </span>
    <span class="p-float-label my-2">
        <p-password  [style]="{'width':'15rem'}" [inputStyle]="{'width':'15rem'}" [(ngModel)]="userSecrets.password" placeholder="Password" class="ng-invalid "></p-password>
    </span>
    <span class="p-float-label ">
        <p-password  [style]="{'width':'15rem'}" [inputStyle]="{'width':'15rem'}" [(ngModel)]="userSecrets.confirmPassword" placeholder="ConfirmPassword" class="ng-invalid "></p-password>
    </span>
</div>
 