 
<p-sidebar [(visible)]="visible" (onHide)="hideBar()"   position="right" [baseZIndex]="10000">
  <div  class="trademark " style="margin-left: auto; margin-right: auto;"></div>
  <span data-aos="fade-right" class="content-header"> <mat-icon>loyalty</mat-icon><p>Services</p> </span>
        <div class="dropdown-menu-comtent row mx-2  ">
            <div  *ngFor="let item of subCategory; i " class="col-sm-12 my-2">
              <a class="items " (click)="checkOut(item.code)"  >   <span pRipple> {{item.label}} </span> </a>  
            </div>
      </div>
</p-sidebar>