

<p class="h3 text-center">Supported Providers</p>
<p-divider type="dashed"></p-divider>
<p-scrollPanel [style]="{width: '100%', height:'80vh'}" styleClass="view">
    <div class="container">
        <div *ngFor="let item of provider" class="exparts-card align-content-center justify-content-start p-2">
            <div class="d-flex">
                <img src="../../../assets/images/user.jpg" class="rounded-circle " alt="" srcset="">
                <p>{{item.provider_name}} ( {{item.avg_rating}} <i class="pi pi-star-fill" style="color: #F9C000 "></i> )<br>
                    {{item.address.label}}<br>
                </p>
                <p class="mt-2 cursor-pointer"><i class="pi pi-whatsapp " style="color: #218119 ;font-size: 2rem; "></i></p>
            </div>
            <p-divider type="dashed"></p-divider>
            <div class="row">
                <div class="col-sm-12" *ngFor="let prov of item.provider_domain[0].provider_services">
                    <div class="d-flex justify-content-between">
                        <p>{{prov.label}} </p>
                        <p>{{prov.price}}/-</p>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</p-scrollPanel>