<div class="background"  >
    <div class="header" >
        <div class="inner-header"  >
            <div class="container landing"  >
                   <div class="terms">
                       <div class="trademark"></div>
                    <p class="display-6 mb-2">Who are we?</p>
                    <div class="container">
                        <p>Formed in 2021, MARAMMATWALA &ldquo;Right 2 Repair&rdquo; is a brand of Swadesi Indigene Technologies Private Limited. At Marammatwala, we are committed to being there for all your home service, repair, and maintenance needs. We are customer service and solution provider for below-mentioned category</p>
                       <ul>
                        <li>Fashionable alteration and repair</li>
                        <li>Mobile and Computer repair</li>
                        <li>Appliance repair</li>
                        <li>Handy man service</li>
                        <li>Cleaning and pest control</li>
                        <li>Contract Services</li>
                        <li>Toys and sports accessories repair</li>
                        <li>Musical instrument repair.</li>
                       </ul>
                        
                    </div>
                   
                   </div>
            </div>
        </div>
    </div>