<app-nav-bar></app-nav-bar>
    <router-outlet (activate)="onActivate($event)">
        <app-login-register ></app-login-register>
<app-sub-categories></app-sub-categories>
<app-sidebar></app-sidebar>
<app-places></app-places>
<app-select-provider></app-select-provider>
    </router-outlet>
<app-foot-bar  ></app-foot-bar>
<!-- <app-login-register ></app-login-register>
<app-sub-categories></app-sub-categories>
<app-sidebar></app-sidebar>
<app-places></app-places> -->
<p-scrollTop></p-scrollTop>
 
 
