<div class="background" [style.background-image]="img">
    
 
<div class="header" >
    <!--Content before waves-->
    <div class="inner-header"  >
      <div class="container landing"  >
        <div class="row align-items-center">
            <div class="col-sm-12 d-flex justify-content-start flex-column align-items-start ">
              <div class="logo mb-4">
                <img src="../../../assets/logo.png" class=" " alt="" srcset="">
              </div>
                <p class="title  display-2 " *ngIf="pageData">{{pageData.label}} with <span style="text-decoration: none; margin-bottom: 0.5rem;
                  text-decoration-color:  rgb(0, 255, 200); color:rgb(0, 255, 200) ">Marammatwala</span>   </p> 
                <p class="sub-title h4">{{pageData.despo}}</p>
                <!-- <p class="text-white sub-title">Formed in 2021, MARAMMATWALA “Right 2 Repair” is a brand of Swadesi Indigene Technologies Private Limited. At Marammatwala, we are committed to being there for all your home service, repair and maintenance needs. We are custom service and solution provider</p> -->
                <div class="curve-border ">
                    <p class="title  display-5">Why Marammatwala Right 2 Repair?</p>
                    <p class="sub-title h4 " > 
                        <span *ngFor="let item of whyRepair">
                            <i   class="pi pi-circle-fill" style="font-size: 0.8rem; color: #F9C000"></i> {{item}} <br>
                        </span >
                    </p>
                </div>
              </div>
            <!-- <div class="col-sm-4 " data-aos="zoom-in" data-aos-duration="1500">
                <div class="d-flex justify-content-start" >
                    <p class="sub-title mt-1">Our service locations</p>
                    <button   pButton pRipple type="button" icon="pi pi-map-marker" class="p-button-rounded mx-2 "></button> 
                  </div>
                 
            </div> -->
          </div>
    </div>
    
    </div>
    
    <!--Waves Container-->
    <div>
    <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
    viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
    <defs>
    <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
    </defs>
    <g class="parallax">
    <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
    <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
    <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
    <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
    </g>
    </svg>
    </div>
    <!--Waves end-->
    
    </div>
</div>
    <!--Header ends-->
    <!-- content -->
<div class="content">
    <div class="container services">
        <span data-aos="fade-right" class="content-header"> <mat-icon style="color: #425ab9">extension</mat-icon><p> Select Services</p> </span>
        <div *ngIf="!servicesList" class="loader loader--style8" title="7">
            <svg fill="#7891f7" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               width="48px" height="60px" viewBox="0 0 24 30" style="enable-background:new 0 0 50 50;" xml:space="preserve">
              <rect fill="#7891f7" x="0" y="10" width="4" height="10" fill="#333" opacity="0.2">
                <animate attributeName="opacity" attributeType="XML" values="0.2; 1; .2" begin="0s" dur="0.6s" repeatCount="indefinite" />
                <animate attributeName="height" attributeType="XML" values="10; 20; 10" begin="0s" dur="0.6s" repeatCount="indefinite" />
                <animate attributeName="y" attributeType="XML" values="10; 5; 10" begin="0s" dur="0.6s" repeatCount="indefinite" />
              </rect>
              <rect  fill="#7891f7" x="8" y="10" width="4" height="10" fill="#333"  opacity="0.2">
                <animate attributeName="opacity" attributeType="XML" values="0.2; 1; .2" begin="0.15s" dur="0.6s" repeatCount="indefinite" />
                <animate attributeName="height" attributeType="XML" values="10; 20; 10" begin="0.15s" dur="0.6s" repeatCount="indefinite" />
                <animate attributeName="y" attributeType="XML" values="10; 5; 10" begin="0.15s" dur="0.6s" repeatCount="indefinite" />
              </rect>
              <rect  fill="#7891f7" x="16" y="10" width="4" height="10" fill="#333"  opacity="0.2">
                <animate attributeName="opacity" attributeType="XML" values="0.2; 1; .2" begin="0.3s" dur="0.6s" repeatCount="indefinite" />
                <animate attributeName="height" attributeType="XML" values="10; 20; 10" begin="0.3s" dur="0.6s" repeatCount="indefinite" />
                <animate attributeName="y" attributeType="XML" values="10; 5; 10" begin="0.3s" dur="0.6s" repeatCount="indefinite" />
              </rect>
            </svg>
        </div>

        <div class="row">
            <div class="col-sm-4" *ngFor="let item of servicesList">
                <div class="service-card ">
                    <div class="card-bg" [style.background-image]="'url('+item.image_url+')'" >
                        <!-- [style.background-image]="'url('+item.image_url+')'" -->
                        <div class="card-forground container">
                        </div>
                        <div class="d-flex service-label">
                            <mat-icon class="mt-2">card_travel</mat-icon>
                            <p class="sub-title h3 my-1"> {{item.label}}</p>
                        </div>
                        <button pButton pRipple type="button  " label="select provider" class="p-button-outlined add-button" (click)="onSelectService(item.code)" ></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-5 mb-5">
        <p-divider></p-divider>
        <span data-aos="fade-right" class="content-header mb-3"> <mat-icon style="color: #425ab9">extension</mat-icon><p>Working Procedure</p> </span> 
        <p-timeline [value]="howWeWork">
            <ng-template pTemplate="content" let-event>
               <p class="mx-3 h5 " style="color: #425ab9 !important">{{event.status}}</p>  
            </ng-template>
        </p-timeline>
    </div>
    
    <div class="container">
        <p-divider type="dashed"></p-divider>
        <span data-aos="fade-right" class="content-header mb-3"> <mat-icon style="color: #425ab9">extension</mat-icon><p>Blogs</p> </span> 
        <div class="blog_content" *ngFor="let item of pageData.blogs">
            <h4 class=" h3 p-3">{{item.label}}</h4>
            <p *ngFor="let content of item.content" class="mx-4">{{content}}</p> <br>
        </div>
    </div>
</div>
<!-- content end -->





    <!-- <div class=" container  " >
        <p class=" h5 despo">{{pageData.despo}}</p> 
        <p-divider align="center" type="dashed"></p-divider>
    </div>
    
    <div class="container">
        <p-divider type="dashed"></p-divider>
        <div class="d-flex justify-content-start p-4 align-items-center">
            <div class="d-flex justify-content-start align-items-center">
                <i class="pi pi-users" style="font-size: 5rem; color:white"></i>
                <p class="h2 assign text-center m-2"> {{pageData.assign.label}}</p>
            </div>
             
        </div>
    </div> -->
     
 
<!--  
<div class="container-fluid align-items-center d-flex flex-column justify-content-center ">
    <div class="container p-4 bg-white flex-column d-flex justify-content-center align-content-center pb-4">
        <p class=" display-6 p-3 ">What we provide</p> 
            <div class="container row justify-content-center bg-offwhite">
                <div class="col-sm-6 offer_galary" *ngFor="let item of  ">
                    <div class="m-2 ">
                       <img src="{{item.img_url}}" alt="" srcset="">
                       <div class="offer_tag row justify-content-around  d-flex align-items-center ">
                          <p class="h4 col-sm-8">{{item.label}}</p>
                          <div class="col-sm-4 ">
                            <button pButton type="button"   label="{{item.low_price}}/-" ></button>
                        </div>
                       </div>
                    </div>
                    
                </div>
            </div>
    </div> -->
    <!-- <div class="other_service row container bg-white  align-items-center d-flex justify-content-center"  >
        <div class="div col-sm-4 d-flex justify-content-start align-item-start " *ngFor="let item of pageData.service_offered"> -->
            <!-- <img src="../../../../assets/logo.png" class="my-auto" alt="" srcset=""> -->
            <!-- <i class="pi pi-check-square my-auto  " style=" color: #F9C000;"></i> <h6 class="text-start my-auto mx-2">{{item.label}}</h6>
        </div>
    </div>
</div>
 
<div class="container-fluid">
<div class="container bg-white p-5 curve-border">
    <p-divider type="dashed"></p-divider>
    <div class="content  ">
        
    </div>
    <p-divider type="dashed"></p-divider>
    <div class="content">
        <h5 class=" display-6 p-3">Blogs</h5>   
        <div class="blog_content" *ngFor="let item of pageData.blogs">
            <h4 class=" h3 p-3">{{item.label}}</h4>
            <p *ngFor="let content of item.content" class="mx-4">{{content}}</p> <br>
        </div>
    </div>
    <p-divider type="dashed"></p-divider>
    <div class="content ">
        <h5 class=" display-6 p-3 ">Professionals</h5>   
         <app-provider-in-detail [pagecode]="pagecode"></app-provider-in-detail>
    </div>
     
</div>
</div>
 


 -->
