.background{
  
    background-position: top;
    background-position-y: 6rem;
    background-attachment: local;
    background-size:cover;
    background-repeat: no-repeat;
    background-color: #3a3a3a;
    width: 100%;
    height: 100vh;
    padding-top: 8rem;
}
 
.container-fluid{
    background-color: rgb(238, 238, 238);
}
 
.main-Category{
    margin-top: 4rem;
    margin-bottom: 1.5rem;
}
.heading{
    color: #ffffff;
    font-weight: 600;
    filter: drop-shadow(5px 5px 4px #30303094);
    font-family: 'Questrial', sans-serif;;
}
 .despo{
    color: #ffffff;
    filter: drop-shadow(5px 5px 4px #30303094);
    font-family: 'Questrial', sans-serif;;
 }
.curve-border{
    border-radius: 8px;;
}
    
.p-timeline-event-opposite{
    flex: 0 !important;
}

.other_service{
    .div{
        width: 15rem;
        margin: 0.5rem;
       // border:1px solid #F9C000;
        padding: 0.2rem;
        border-radius: 5px;
    }
    img{
        width: 2rem
    };
    h6{
        font-family: 'Questrial', sans-serif;
        text-align: center;
    }
     
}

.assign{
    color: #ffffff;
    font-family: 'Questrial', sans-serif;
    font-weight: 500;
}
.offer_galary{
    height: 15rem;
    position: relative;
    overflow: hidden;
    img{
        width: 100%; 
        border-radius: 5px;
         
    }
    .offer_tag{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        margin: 1rem;
        margin-left: 1.29rem;
        p{
            color: #ffffff;
        }
        
        
    } 

}
 
@media only screen and(max-width: 1200px){
     
}