 
 

.main-Category{
    margin-top: 4rem;
    margin-bottom: 1.5rem;
}
.heading{
    color: #ffffff;
    font-weight: 600;
    filter: drop-shadow(5px 5px 4px #30303094);
    font-family: 'Questrial', sans-serif;;
}
 .despo{
    color: #ffffff;
    filter: drop-shadow(5px 5px 4px #30303094);
    font-family: 'Questrial', sans-serif;;
 }
.curve-border{
    border-radius: 8px;;
}
    
.p-timeline-event-opposite{
    flex: 0 !important;
}

.other_service{
    .div{
        width: 15rem;
        margin: 0.5rem;
       // border:1px solid #F9C000;
        padding: 0.2rem;
        border-radius: 5px;
    }
    img{
        width: 2rem
    };
    h6{
        font-family: 'Questrial', sans-serif;
        text-align: center;
    }
     
}

.assign{
    color: #ffffff;
    font-family: 'Questrial', sans-serif;
    font-weight: 500;
}
.offer_galary{
    height: 15rem;
    position: relative;
    overflow: hidden;
    img{
        width: 100%; 
        border-radius: 5px;
         
    }
    .offer_tag{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        margin: 1rem;
        margin-left: 1.29rem;
        p{
            color: #ffffff;
        }
        
        
    } 

}
 
//****shaped image

 
  

  // wave
 
  .background{
    background-position: top;
    background-attachment: local;
    background-size:cover;
    background-repeat: no-repeat;
  }
  .header {
    position:relative;
    background: linear-gradient(60deg, rgb(33, 56, 187) 0%, rgba(0, 173, 78, 0.466) 100%);
  }
 
  
  .inner-header {
    min-height:80vh;
    width:100%;
    margin: 0;
    padding: 0;
    .logo {
      background-color: rgb(252, 252, 252);
      padding: 0.1rem;
      border-radius: 5px;
      img{
          width: 16rem;
      }
    }
    .hero-img{
      border-radius: 50px 50px 50px 50px ;
      width: 100%;
    }
  }
   
  
  .flex { /*Flexbox for containers*/
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .waves {
    position:relative;
    width: 100%;
    height:15vh;
    margin-bottom:-7px; /*Fix for safari gap*/
    min-height:100px;
    max-height:150px;
  }
  
  .content {
    position:relative;
    margin-top: 5vh;
    background-color: white;
  }
  
  /* Animation */
  
  @keyframes MoveUpDown {
      0%, 100% {
          transform: translate(0, 0);   
        }
        50% {
          transform: translate(0px, 50px);
        }
  }
  .parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
  }
  .parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
  }
  .parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
  }
  .parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
  }
  .parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
  }
  @keyframes move-forever {
    0% {
     transform: translate3d(-90px,0,0);
    }
    100% { 
      transform: translate3d(85px,0,0);
    }
  }
  /*Shrinking for mobile*/
  @media (max-width: 768px) {
    .waves {
      height:40px;
      min-height:40px;
    }
     
    h1 {
      font-size:24px;
    }
  } 
   
@media only screen and(max-width: 1200px){
     
}

.services{
  position: relative;
  margin-top:10vh;
  min-height: 50vh;
  svg path,svg rect{
    fill: #7891f7;
  }
  .loader{
    position: absolute;
    top:50%;
    left:50%;
  }
  .service-card{
    margin: 0.3rem;
    .card-bg{
      overflow: hidden;
      height:20vh;
      border-radius: 8px;
      margin: 0.3rem;
      width: 100%;
      position: relative;
    //  background-image: url('../../../assets/images');
      background-position: top;
      background-attachment: local;
      background-size:cover;
      background-repeat: no-repeat;
      transition: all 0.4s;
      .service-label{
        position: absolute;
        top: 10%;
        right: 5%;
        left: 5%;
      }
      .card-forground{
        height: 100%;
        transition: all 0.4s;
        background: linear-gradient(132deg, rgb(8, 165, 92) 0%, rgba(9, 0, 29, 0.89) 100%);
        opacity: 0.7;
      }
      .add-button{
        transition: all 0.4s;
        position: absolute;
        bottom: 10%;
        right: 10%;
        transform: translateY(150%);
      }
      &:hover{
        .card-forground{
          opacity: 1;
          //background: linear-gradient(132deg, rgb(0, 182, 238) 0%, rgba(190, 0, 111, 0.89) 100%);
        }
        .add-button{
          transform: translateY(0);
        }
      }
    }
     
    
}
}
 