
 <div class="my-2">
    <span data-aos="fade-right" class="content-header"><mat-icon style="color: #425ab9"> stay_current_portrait</mat-icon><p>Enter your number</p> </span>
    <div class="row my-1">
      <div class="col">
        <span class="p-float-label my-2  "  >
          <input  class="p-input" id="float-input" type="text" style="min-width:15rem; width: 100%;" pInputText [(ngModel)]="phone_number"> 
          <label for="float-input">Phone</label>
      </span>
      </div>
    <span class="col d-flex justify-content-start">
      <button  class="p-button-outlined  my-2 " pRipple pButton (click)="sendOtp()">{{text}}</button>
    </span>
    
    <div *ngIf="isSnedOtpLoading" class="d-flex justify-content-start mx-3">
       
      <div class="loader loader--style8" title="7">
          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             width="24px" height="30px" viewBox="0 0 24 30" style="enable-background:new 0 0 50 50;" xml:space="preserve">
            <rect x="0" y="10" width="4" height="10" fill="#333" opacity="0.2">
              <animate attributeName="opacity" attributeType="XML" values="0.2; 1; .2" begin="0s" dur="0.6s" repeatCount="indefinite" />
              <animate attributeName="height" attributeType="XML" values="10; 20; 10" begin="0s" dur="0.6s" repeatCount="indefinite" />
              <animate attributeName="y" attributeType="XML" values="10; 5; 10" begin="0s" dur="0.6s" repeatCount="indefinite" />
            </rect>
            <rect x="8" y="10" width="4" height="10" fill="#333"  opacity="0.2">
              <animate attributeName="opacity" attributeType="XML" values="0.2; 1; .2" begin="0.15s" dur="0.6s" repeatCount="indefinite" />
              <animate attributeName="height" attributeType="XML" values="10; 20; 10" begin="0.15s" dur="0.6s" repeatCount="indefinite" />
              <animate attributeName="y" attributeType="XML" values="10; 5; 10" begin="0.15s" dur="0.6s" repeatCount="indefinite" />
            </rect>
            <rect x="16" y="10" width="4" height="10" fill="#333"  opacity="0.2">
              <animate attributeName="opacity" attributeType="XML" values="0.2; 1; .2" begin="0.3s" dur="0.6s" repeatCount="indefinite" />
              <animate attributeName="height" attributeType="XML" values="10; 20; 10" begin="0.3s" dur="0.6s" repeatCount="indefinite" />
              <animate attributeName="y" attributeType="XML" values="10; 5; 10" begin="0.3s" dur="0.6s" repeatCount="indefinite" />
            </rect>
          </svg>
        </div>
  </div>
    </div>
    
     
    <div data-aos="fade-right" class="otp-input d-flex"  *ngIf="switchOtpField">
        <input class="p-input ng-dirty" #otpbox type="text" id="inputtext"  [(ngModel)]="OTP" (keyup)="isOTPcheck()" pInputText  placeholder="code"  >
        <div *ngIf="isLoading" class="d-flex justify-content-start mx-3">
            <div class="loader loader--style8" title="7">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                   width="24px" height="30px" viewBox="0 0 24 30" style="enable-background:new 0 0 50 50;" xml:space="preserve">
                  <rect x="0" y="10" width="4" height="10" fill="#333" opacity="0.2">
                    <animate attributeName="opacity" attributeType="XML" values="0.2; 1; .2" begin="0s" dur="0.6s" repeatCount="indefinite" />
                    <animate attributeName="height" attributeType="XML" values="10; 20; 10" begin="0s" dur="0.6s" repeatCount="indefinite" />
                    <animate attributeName="y" attributeType="XML" values="10; 5; 10" begin="0s" dur="0.6s" repeatCount="indefinite" />
                  </rect>
                  <rect x="8" y="10" width="4" height="10" fill="#333"  opacity="0.2">
                    <animate attributeName="opacity" attributeType="XML" values="0.2; 1; .2" begin="0.15s" dur="0.6s" repeatCount="indefinite" />
                    <animate attributeName="height" attributeType="XML" values="10; 20; 10" begin="0.15s" dur="0.6s" repeatCount="indefinite" />
                    <animate attributeName="y" attributeType="XML" values="10; 5; 10" begin="0.15s" dur="0.6s" repeatCount="indefinite" />
                  </rect>
                  <rect x="16" y="10" width="4" height="10" fill="#333"  opacity="0.2">
                    <animate attributeName="opacity" attributeType="XML" values="0.2; 1; .2" begin="0.3s" dur="0.6s" repeatCount="indefinite" />
                    <animate attributeName="height" attributeType="XML" values="10; 20; 10" begin="0.3s" dur="0.6s" repeatCount="indefinite" />
                    <animate attributeName="y" attributeType="XML" values="10; 5; 10" begin="0.3s" dur="0.6s" repeatCount="indefinite" />
                  </rect>
                </svg>
              </div>
        </div>
        <!-- <button *ngIf="isLoading" pButton pRipple type="button" icon="pi pi-spin pi-spinner" class="p-button-outlined p-button-rounded mx-3"></button> -->
    </div>
    <p class="text-center text-danger">{{errorMessage}}</p>
 </div>
 
 <!-- <div>
    <div  *ngIf="otpSend" class="otpinput my-2">
        <h6>Enter OTP</h6>
        <input id="float-input" #otp1  class="otpBox" pInputText  [(ngModel)]="otp[0]" (keyup)="onKeyUp(1)" > 
        <input id="float-input"  #otp2 class="otpBox" pInputText  [(ngModel)]="otp[1]"   (keyup)="onKeyUp(2)"> 
        <input id="float-input"  #otp3 class="otpBox" pInputText  [(ngModel)]="otp[2]" (keyup)="onKeyUp(3)"> 
        <input id="float-input"  #otp4 class="otpBox" pInputText  [(ngModel)]="otp[3]" (keyup)="onKeyUp(4)"> 
    </div>
    <p-button *ngIf="otpSend" pButton pRipple icon="pi pi-check"  (click)="verifyOtp()"></p-button>
 
</div> -->
<!-- <p-dropdown   [options]="countries" [(ngModel)]="selectedCountry" optionLabel="name" [filter]="true" filterBy="name" [showClear]="true" placeholder="Select a Country">
    <ng-template  pTemplate="selectedItem">
        <div class="country-item country-item-value"  *ngIf="selectedCountry">
            <img src="assets/showcase/images/demo/flag/flag_placeholder.png" [class]="'flag flag-' + selectedCountry.code.toLowerCase()" />
            <div>{{selectedCountry.name}}</div>
        </div>
    </ng-template>
    <ng-template let-country pTemplate="item">
        <div class="country-item">
            <img src="assets/showcase/images/demo/flag/flag_placeholder.png" [class]="'flag flag-' + country.code.toLowerCase()" />
            <div>{{country.name}}</div>
        </div>
    </ng-template>
</p-dropdown> -->