.background{
    
    background-position: top;
    background-position-y: 6rem;
    background-attachment: local;
    background-size:cover;
    background-repeat: no-repeat;
    background-color: #3a3a3a;
    height:fit-content;
    width: 100%;
    
    padding-top: 8rem;

}
 
.main-catagory{
    margin-top: 4rem;
    margin-bottom: 1.5rem;
}
.heading{
    color: #ffffff;
    font-weight: 600;
    filter: drop-shadow(5px 5px 4px #30303094);
    font-family: 'Questrial', sans-serif;;
}
.m-card{
    position: relative;
    min-width: 15rem !important;
    max-width: 15rem !important;
    margin: 1rem;
    padding: 1rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#F9C000 ;
    background-color:#ffffff ;
    img{
        width: 7rem;
    }
    .card-btn{
        position: absolute;
        bottom: 1rem;
    }
}
.curve-border{
    border-radius: 8px;;
}
    
.p-timeline-event-opposite{
    flex: 0 !important;
}


.exparts-card{
    border: 1px solid #F9C000 ;
    border-radius: 8px;
    max-width: 30rem;
    min-width: 30rem;
    margin: 1rem;
    img{
        width: 6rem;
        height: 6rem;
    }

}
@media only screen and(max-width: 1200px){
     
}