/* You can add global styles to this file, and also import other style files */
@import "../node_modules/primeng/resources/themes/fluent-light/theme.css" ;
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
 
 
 
 
body{
    transition: all 0.4s;
    padding: 0px;
    margin: 0px;
     
    .container-fluid{
        margin: 0;
        padding: 0;
    }
    .title{
 
        color: #dbe3ff;
        font-weight: 500;
        //filter: drop-shadow(5px 5px 4px #30303094);
        font-family: 'Poppins', sans-serif;
      
    }
    .text-price-dark{
        color: #425ab9;
        font-weight: 500;
        font-family:Arial, Helvetica, sans-serif !important;
    }
    .title-dark{
        color: #425ab9;
        font-weight: 500;
        //filter: drop-shadow(5px 5px 4px #30303094);
        font-family: 'Poppins', sans-serif;
    }
    .sub-title{
   // font-size: 150%;
    color: #dbe3ff;
    font-weight:400;
  //  filter: drop-shadow(5px 5px 4px #00000067);
    font-family: 'Poppins', sans-serif;
    
    }
    .landing{
        padding-top: 20vh
    }
    .p-component{
        font-family: 'Poppins', sans-serif;
    }
    .p-megamenu{
        border: none;
        background-color: #dbe3ff;
     }
     .ui-widget-content {
        padding:0;
    }
    .ui-panel-content {
        padding:0;
    }
    .text-white{
        color: #dbe3ff;
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
    }
    .filter-shadow{
        filter: drop-shadow(5px 5px 4px #30303094);
    }
    mat-icon{
        font-size: 2rem;
        color: #c2cfff;
        margin: 0;
        margin-left: 0.2rem;
        margin-right: 0.2rem;
        padding: 0;
        transition: all 0.3s;
        &:hover{
            color: #425ab9;
        }
    }
    .p-input, .p-textarea{
        border: 1px solid #9caef7 !important;
        background: transparent !important;
        color: #7891f7!important;
        font-family: 'Poppins', sans-serif !important;
        font-weight: 500 !important;
        &::placeholder{
            color:#9caef7
        }
    }
    
    label{
        color: #9caef7!important;
    }
    i{
        color: #b4c3fd !important;
    }
    .cursor-pointer{
        cursor: pointer;
    }
    .content-header{
        display: flex;
        p{
          font-size: 150%;
          color: #6e8bff;
          font-weight: 500;
          font-family: 'Poppins', sans-serif;;
        }
        .mat-icon{
          margin-top: 6px;
          font-size: 150%;
        }
      }
      .p-button-outlined{
          border-color:1px solid #6e8bff!important;
          color: #6e8bff !important;
      }
    .p-tooltip{
        .p-tooltip-text{
            color: #6e8bff;
            font-weight: 500;
            font-family: 'Poppins', sans-serif;;
        }
    }
     
    .p-button {
        color: #dbe3ff;
        background: #6e8bff;
        border: 1px solid #6e8bff;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        font-weight: 500;
        font-family: 'Poppins', sans-serif!important;
        transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
        border-radius: 2px;
      }
      .p-button:enabled:hover {
        background: #425ab9;
        color: #dbe3ff;
        border-color: #425ab9;
      }
       .p-button-link {
        color:rgba(0, 171, 193, 0.808);
        background: transparent;
        border: transparent;
      }
      .p-dialog-content{
        border-radius: 0px !important;
        background-color: #f1f4fc !important;
    }
    .p-sidebar{
        background-color: #f1f4fc !important;
    }
    .p-timeline-event-opposite{
        flex: 0 !important;
    }
    .p-inputnumber-buttons-horizontal, .p-inputnumber-input {
        position: relative;
        order: 2;
        border-radius: 0;
        width: 2rem;
        height: 1.5rem;
    }
    .trademark{
        width: 5rem;
        height: 5rem;
        background-image: url('./assets/trademark.png');
        background-size: contain;
    }
       
}  



html{
   
     background-color: #ffffff;
     background-repeat: no-repeat;
     background-position: center;
     font-family: 'Poppins', sans-serif;
     
}
 
 
.filter-shadow{
    filter: drop-shadow(5px 5px 4px #30303094);
}

 .bg-yellow{
     background-color:#F9C000  ;
 }

 
 
html, body { height: 100%; }
body { margin: 0; font-family: 'Poppins', sans-serif; }

body .p-scrollpanel {
    p {
        padding: .5rem;
        line-height: 1.5;
        margin: 0;
    }


    &.view {
        .p-scrollpanel-wrapper {
            border-right: 9px solid white;
        }

        .p-scrollpanel-bar {
            background-color: #F9C000;
            opacity: 1;
            transition: background-color .2s;

            &:hover {
                background-color: #d95000;
            }
        }
    }
}    

.cursor-pointer{
    cursor: pointer;
}
 

// // button {
// //     min-width: 10rem;
// //     margin-right: .5rem;
// // }

// @media screen and (max-width: 960px) {
//     button {
//         width: 100%;
//         margin-bottom: .5rem;
//     }
// }

// :host ::ng-deep {
//     .p-toast-message-custom {
//         background-color: #E1CFE7;
//         border: solid #8A427A;
//         border-width: 0 0 0 6px;
//         color: #2c1e30;
//         .p-toast-icon-close {
//             color: #2c1e30;
//         }
//     }
// }
