/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/saga-orange/theme.css" ;
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
body {
    padding: 0px;
    margin: 0px;
    font-family: 'Questrial', sans-serif;;
}
body .p-component{
    font-family: 'Questrial', sans-serif;;
}
body .ui-panel-content {
    padding:0;
}
body .ui-widget-content {
    padding:0;
}
body .p-megamenu{
   border: none;
   background-color: #ffffff;
}


html{
   
    background-color: #ffffff;
     background-repeat: no-repeat;
     background-position: center;
     font-family: 'Questrial', sans-serif;;
     
}
 
.text-white{
    color: white;
    font-family: 'Questrial', sans-serif;;
    font-weight: 500;
}
.filter-shadow{
    filter: drop-shadow(5px 5px 4px #30303094);
}

 .bg-yellow{
     background-color:#F9C000  ;
 }

 .p-timeline-event-opposite{
    flex: 0 !important;
}
body .p-dialog-content{
    border-radius: 8px !important;
}
 
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body .p-scrollpanel {
    p {
        padding: .5rem;
        line-height: 1.5;
        margin: 0;
    }


    &.view {
        .p-scrollpanel-wrapper {
            border-right: 9px solid white;
        }

        .p-scrollpanel-bar {
            background-color: #F9C000;
            opacity: 1;
            transition: background-color .2s;

            &:hover {
                background-color: #d95000;
            }
        }
    }
}    

.cursor-pointer{
    cursor: pointer;
}