.foot-main{
    background:  linear-gradient(60deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%);
}
.link{
        width:100ch;
        text-align: left;
        color: #dbe3ff;
        font-size: 110%;
        font-family: 'Poppins', sans-serif;;
        text-decoration: none;
        margin: 0.3rem;
        text-align: center;
        margin-left: 1rem;
        &:hover{
            color:  rgb(0, 255, 200);
        }
}
.flex{
    display: flex;
}
@media screen and (max-width: 1000px) {
    .flex{
        flex-direction: column;
    }
}