<div class="container-fluid foot-main">
    <div class="p-4">
            <div class="d-flex justify-content-center ali my-2   ">
                <div >
                    <a class="link" href="#">Home</a>
                </div>
                <div >
                    <a class="link" href="#">Service</a>
                </div>
                <div >
                    <a class="link" href="#">About</a>
                </div>
                <div >
                    <a class="link" href="#">Partner with us</a>
                </div>
                <div >
                    <a class="link" href="#">Special offers</a>
                </div>
                <div >
                    <a class="link" href="#">Terms & conditions</a>
                </div>
            </div>
            <p-divider type="dashed"></p-divider>
            <div class=" d-flex justify-content-center align-items-center align-self-center mx-auto my-4">
                <span class="p-input-icon-left m-1">
                    <i class="pi pi-envelope"></i>
                    <input style="width: 16rem; " type="text" pInputText placeholder="Mail us" [(ngModel)]="mailus" />
                </span>
                <p-button pRipple label="Send" icon="pi pi-send" styleClass="p-button-sm p-button-danger m-1"></p-button>
            </div>
            <p-divider type="dashed"></p-divider>
            
         
         
    </div>
</div>
