<div class="container-fluid foot-main">
    <div class="p-4">
            <div class="flex justify-content-center ali my-2">
                <div >
                    <a class="link" [routerLink]="['/home']">Home</a>
                </div>
                <div >
                    <a class="link" href="#services-div">Service</a>
                </div>
                <div >
                    <a class="link" [routerLink]="['/about']">About</a>
                </div>
                <div >
                    <a class="link" [routerLink]="['/faq_seller_portal']">FAQ</a>
                </div>
                <div >
                    <a class="link" href="#">Partner with us</a>
                </div>
                <div >
                    <a class="link" href="#specialoffer-div">Special offers</a>
                </div>
                <div >
                    <a class="link" [routerLink]="['/terms']">Terms & conditions</a>
                </div>
            </div>
            <div class="container">
                <p-divider type="dashed"></p-divider>
            </div>
            <div class=" d-flex justify-content-center align-items-center align-self-center mx-auto my-4">
                <span class="p-input-icon-left m-1">
                    <i class="pi pi-envelope"></i>
                    <input  class="p-input" style="width: 16rem; " type="text" pInputText placeholder="Mail us" [(ngModel)]="mailus" />
                </span>
                <p-button pRipple label="Send" icon="pi pi-send" styleClass="p-button-sm  m-1"></p-button>
            </div>
            <div class="container">
                <p-divider type="dashed"></p-divider>
            </div>
            <div class=" container flex justify-content-center align-items-center align-self-center mx-auto my-4">
                  <div class="logo m-2">
                    <img src="../../../assets/logo.png" class=" " alt="" srcset="">
                  </div>  
                <p class="title m-2">©Swadesi Indigene Technologies Pvt Ltd.</p>
            </div>
    </div>
</div>
