<div class="container-fluid foot-main">
    <div class="p-4">
            <div class="flex justify-content-center ali my-2">
                <div >
                    <a class="link" [routerLink]="['/home']">Home</a>
                </div>
                <div >
                    <a class="link" [routerLink]="['/about']">About</a>
                </div>
                <div >
                    <a class="link" [routerLink]="['/faq_seller_portal']">FAQ</a>
                </div>
                <div >
                    <a class="link" href="#">Partner with us</a>
                </div>
                <div >
                    <a class="link" href="#specialoffer-div">Special offers</a>
                </div>
                <div >
                    <a class="link" [routerLink]="['/terms']">Terms & conditions</a>
                </div>
            </div>
            <div class="container">
                <p-divider type="dashed"></p-divider>
            </div>
            
            <div class="container d-flex justify-content-center align-items-center align-self-center mx-auto my-4">
                    <a class="mx-2 cursor-pointer" href="https://www.facebook.com/marammatwalaapp/"> <i class="pi pi-facebook" style="font-size: 2rem"></i> </a>
                    <a class="mx-2 cursor-pointer" href="https://mobile.twitter.com/marammatwala007"> <i class="pi pi-twitter" style="font-size: 2rem"></i> </a>
                    <a class="mx-2 cursor-pointer" href="https://www.instagram.com/marammatwala/"> <i class="pi pi-instagram" style="font-size: 2rem"></i> </a>
                    <a class="mx-2 cursor-pointer" href="https://www.linkedin.com/in/marammatwala-right-2-repair-52324a223"> <i class="pi pi-linkedin" style="font-size: 2rem"></i> </a>
          </div>
          <div class="container">
            <p-divider type="dashed"></p-divider>
        </div>
            <div class=" container flex justify-content-center align-items-center align-self-center mx-auto my-4">
                  <div class="logo m-2">
                    <img src="../../../assets/logo.png" class=" " alt="" srcset="">
                  </div>  
                <p class="title m-2">©Swadesi Indigene Technologies Pvt Ltd.</p>
            </div>
    </div>
</div>
