
<div class="background"  >
    <div class="header" >
        <div class="inner-header"  >
            <div class="container landing"  >
                
                  <div class="terms">
                    <div class="trademark" style="width: 10rem"></div>
                       <div class="text-center d-flex flex-column">
                        <span class="h2 title-dark">FAQ Seller Portal</span>
                        <span class="h3 title-dark">SWADESI INDIGENE TECHNOLOGIES PRIVATE LIMITED </span>
                           <span class="h5 title-dark">(www.Marammatwala.in)</span>
                            
                       </div>
                       <div class="content">
                        <span class="h2 title-dark"> Getting Started</span>
                        <p><strong>Why Should I provide service on Marammatwala?</strong></p>
                        <p>Marammatwala is going to be the leader in Indian Service and Repair e-commerce with maximum online reach and highest credibility. With good number of registered customers, numerous daily page visits and the lowest cost of doing business, we are the strongest partner to take your services to customers all over India. We have sale events that give each service provider an equal opportunity to grow their business online.</p>
                        <p><strong>Who can provide Service on Marammatwala?</strong></p>
                        <p>Anyone who can provide quality service under different categories on Marammatwala is welcome. In order to start providing service, you need to have</p>
                        <ul>
                        <li>GSTIN / Pan Card for Individual</li>
                        <li>Cancelled Cheque</li>
                        <li>Sample Signatures</li>
                        </ul>
                        <p><strong>How do I offer my category of service on Marammatwala?</strong></p>
                        <p>To be a Marammatwala Service provider:</p>
                        <ol>
                        <li>Register yourself at&nbsp;<a href="https://seller.flipkart.com/">seller.marammatwala.</a>in.</li>
                        <li>List your service under specific service category and sub category.</li>
                        <li>On receiving an order, provide service either at customer place or at your own work shop. If service is provided at work shop and completed, mark it as &lsquo;Ready to Dispatch&rsquo;. Our logistics partner will pick up the serviced product and deliver it to the customer.</li>
                        <li>After your order is successfully completed, Marammatwala will settle your payment within 7-15 business days based.</li>
                        </ol>
                        <p>&nbsp;</p>
                        <p><strong>Can I offer both products and services on Marammatwala?</strong></p>
                        <p>Currently, you can only sell services as per categories on portal and not products on Marammatwala.</p>
                        <p><strong>Do I need to courier serviced products to Marammatwala?</strong></p>
                        <p>No, many of service categories are to be offered at customer place. For &ldquo;Insitu repair&rdquo; type of service provided, it will be their own responsibility to pick-up and delivery your serviced product. Only for &ldquo;Repair at Repair Shop&rdquo; type of service provider, Marammatwala delivery partner will handle pick-up and delivery of your serviced products. All you need to do is pack the product and keep it ready for dispatch. Our logistics partner will pick up the product from you and deliver it to the customer or Vice-versa.</p>
                        <p><strong>What are the documents required to register as a service provider on Marammatwala?</strong></p>
                        <p>You are required to have the following documents:</p>
                        <ul>
                        <li>GSTIN / Pan Card for Individual</li>
                        <li>Cancelled cheque</li>
                        <li>Sample signatures</li>
                        </ul>
                        <p><strong>Who decides the price of the services offered?</strong></p>
                        <p>As a service provider, you will set the price for your services in different categories.</p>
                        <p><strong>Will I get charged for listing services on Marammatwala?</strong></p>
                        <p>No. Listing your services on Marammatwala.in is absolutely free. Marammatwala does not charge anything for listing your services online. You only pay a small commission for what you sell.</p>
                        <p><strong>&nbsp;</strong></p>
                        <p><strong>Who takes care of the pickup and delivery of serviced products?</strong></p>
                        <p>Many of service categories are to be offered at customer place. For &ldquo;Insitu repair&rdquo; type of service provider, it will be their own responsibility to pick up and deliver serviced product. Only for &ldquo;Repair at Repair Shop&rdquo; type of service provider, Marammatwala delivery partner will handle pick-up and delivery of serviced products. All you need to do is pack the product and keep it ready for dispatch. Our logistics partner will pick up the product from you and deliver it to the customer or Vice-versa.</p>
                        <p><strong>How and when will I get paid?</strong></p>
                        <p>The payment will be made directly to your bank account through NEFT transactions. Marammatwala will settle your payments within 7-15 business days.</p>
                        <p><strong>When can I start offering services on Marammatwala?</strong></p>
                        <p>After all the required documents have been verified and your service provider profile is complete, you can start listing your services and start selling.</p>
                        <p><strong>How many service listings are required to start selling?</strong></p>
                        <p>You are required to have a minimum of 1service listings under any category (unique service) to start selling on Marammatwala.</p>
                        <p><strong>Pricing and Payments</strong></p>
                        <p><strong>Who decides the price of the services offered?</strong></p>
                        <p>As a service provider, you will set the price for your services in different categories.</p>
                        <p><strong>What are the fees charged?</strong></p>
                        <p>The following deductions are made from the order item value:</p>
                        <ul>
                        <li>Referral fee: A percentage of the service order value based on category/sub-category</li>
                        <li>Deal Closing Fee: A slab wise fixed fee. This varies based on service Order value</li>
                        </ul>
                        <p><strong>What is Referral fee and how much referral fee is charged?</strong></p>
                        <p>Referral fee is a certain percentage of the service order value. It differs across categories and sub-categories.</p>
                        <p><strong>How and when do I get paid?</strong></p>
                        <p>All payments are made through NEFT transactions (online banking). The payment is made directly to your bank account within the next 7-15 business days from the date of service completed.</p>
                        <p><strong>Please give an example to show the cost calculation.</strong></p>
                        <p>Here&rsquo;s an easy example, which illustrates a sample for the above calculation</p>
                        <table>
                        <tbody>
                        <tr>
                        <td width="137">
                        <p>Settlement amount =</p>
                        </td>
                        <td width="147">
                        <p>Service order invoice value&nbsp;&nbsp; -</p>
                        </td>
                        <td width="188">
                        <p>Marammatwala charges&nbsp; -</p>
                        </td>
                        <td width="221">
                        <p>GST (18% of Marammatwala charges)</p>
                        </td>
                        </tr>
                        </tbody>
                        </table>
                        <p>&nbsp;</p>
                        <p><strong>Service Listings and Catalogue</strong></p>
                        <p><strong>What is Service listing?</strong></p>
                        <p>Listing a service refers to filling out all the necessary information and adding images related to service so that a customer can make an informed buying decision.</p>
                        <p><strong>How many service listing do I need to list to start selling?</strong></p>
                        <p>You are required to have a minimum of 1 service listings under any category (unique service) to start selling on Marammatwala.</p>
                        <p><strong>How do I list services offered by me on Marammatwala?</strong></p>
                        <p>We give you a step-by-step process of how to list your services on our website. It is important to choose the most suitable category to list your service as it will help customers find your products faster. Based on the category you choose, you'll be asked to include product details such as description and others.</p>
                        <p><strong>Can I get help for the development of the catalogue (service related images, description, etc.)?</strong></p>
                        <p>Yes, we are happy to help you at every stage while doing business with us. We help you connect with Marammatwala&rsquo;s local executive of your catalogues. With the help of Marammatwala&rsquo;s local executive across India, you can have attractive images and crisp content developed at unbeatable prices.</p>
                        <p><strong>How does a Marammatwala&rsquo;s local executive help me?</strong></p>
                        <p>Marammatwala&rsquo;s local executive develops all kind of support required by service providers registered on Platform. A good catalogue and service description gives your customers a better understanding of services offered by you and helps boost your sales.</p>
                        <p>List of Marammatwala&rsquo;s local executive.</p>
                        <p><strong>How do I price my services?</strong></p>
                        <p>When pricing your services on Marammatwala, please account for the applicable Marammatwala charges and include a suitable margin to arrive at the Selling Price. For ease of calculation, you can use our Price Calculator widget once on boarded.</p>
                        <p><strong>Will I get charged for listing services on Marammatwala?</strong></p>
                        <p>No. Listing your services on Marammatwala.in is absolutely free. Marammatwala does not charge anything for listing your services online. You only pay a small commission for what you sell.</p>
                        <p><strong>&nbsp;</strong></p>
                        <p><strong>Order Management and Shipping</strong></p>
                        <p><strong>Who takes care of the pickup and delivery of serviced products?</strong></p>
                        <p>Many of service categories are to be offered at customer place. For &ldquo;Insitu repair&rdquo; type of service provider, it will be their own responsibility to pick up and deliver serviced product. Only for &ldquo;Repair at Repair Shop&rdquo; type of service provider, Marammatwala delivery partner will handle pick-up and delivery of serviced products. All you need to do is pack the product and keep it ready for dispatch. Our logistics partner will pick up the product from you and deliver it to the customer or Vice-versa.</p>
                        <p><strong>What should I do if my area is not serviceable by Marammatwala?</strong></p>
                        <p>During registration, save the details of your pin code and click on the continue button. You will be notified via e-mail when your pin code becomes serviceable.</p>
                        <p><strong>How do I manage my orders on Marammatwala?</strong></p>
                        <p>Through our service provider dashboard, we make it really easy for you to manage your orders. Whenever a customer places an order, we will send you an e-mail alert. Once you accept order You need to provide service and complete the job including logistic. Only for &ldquo;Repair at Repair Shop&rdquo; type of service provider, Marammatwala delivery partner will handle pick-up and delivery of serviced products. All you need to do is pack the product and keep it ready for dispatch. Our logistics partner will pick up the product from you and deliver it to the customer or Vice-versa.</p>
                        <p><strong>Does Marammatwala provide branding and packaging material?</strong></p>
                        <p>We have a network of best branding and packaging material providers in the industry. We can connect you with them to get good quality packaging material which impresses the customers and ensures your serviced products remain undamaged.</p>
                     </div>
            </div>
        </div>
    </div>